.form__btn{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    background-color: black;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    margin-top: 48px;
    cursor: pointer;
}
.form__btn:hover {
    opacity: 0.8;
}