.profile{
    display: flex;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
@media screen and (max-width: 1279px) {
    .profile{
        max-width: 840px;
    }
}
@media screen and (max-width: 1023px) {
    .profile{
        max-width: 740px;
        margin-left: 30px;
    margin-right: 30px;
    }
}
@media screen and (max-width: 767px) {
    .profile{
        max-width: 282px;
        display: flex;
        flex-direction: column;
        
    }
}