.profile__change{
    width: 24px;
    height: 24px;
    margin-left: 18px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: opacity .3s ease-out;
    padding: 0;
}
.profile__change:hover{
    opacity: .6;
}