.footer{
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 1279px) {
    .footer{
        max-width: 840px;
    }
}
@media screen and (max-width: 1023px) {
    .footer{
        max-width: 740px;
    }
}