.profile__photo{
    border-radius: 50%;
    max-width: 169px;
    max-height: 128px;
    margin-right: 30px;
    object-fit: cover;
}
@media screen and (max-width: 767px) {
    .profile__photo{
        margin-right: 73px;
    margin-left: 75px;
        
    }
}